name: Build and Push Docker Image to ghcr.io
on:
  push:
    branches:
      - main

concurrency:
  group: docker_build_${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  docker_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # https://github.com/marketplace/actions/push-to-ghcr
      - name: Build and publish a Docker image for ${{ github.repository }}
        uses: Dennis960/push-to-ghcr@master
        with:
          image_name: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: Dockerfile
          context: .
          image_tag: latest
